@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .fr {
        @apply text-xl relative top-1
    }

    .header {
        @apply font-DMSerifDisplay font-bold leading-loose tracking-wide dark:text-white
    }

        .custom-scrollbar {
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        .custom-scrollbar::-webkit-scrollbar {
            display: none;
        }
}