@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    select option {
        @apply text-lg;
        font-family: inherit;
        font: -moz-pull-down-menu;
        font-size: inherit;
    }

    .select {
        @apply form-select focus:ring-1 focus:ring-slate-200 focus:ring-offset-2 border border-slate-200 rounded-md focus:border-slate-200 focus:ring-offset-white dark:focus:ring-brand-light-black dark:border-slate-100/[0.06] dark:ring-offset-brand-black dark:bg-brand-light-black
    }

    .input-form {
        @apply form-input border-none outline-0 focus:ring-0
    }

    .fr {
        @apply text-xl relative top-1
    }

    .header {
        @apply font-satoshi font-bold tracking-wider
    }

    .main-header {
        @apply text-5xl leading-[3.5rem] header
    }

    .custom-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .custom-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .add-to-cart {
        @apply bg-brand-red text-white text-center text-base rounded-md py-3 px-4 transition-colors ease-in-out duration-500 block w-full hover:bg-brand-dark-rose focus:bg-brand-dark-rose lg:py-2
    }

    .view-more-btn {
        @apply py-2 px-3 focus:ring-1 focus:ring-slate-200 focus:ring-offset-2 border border-slate-200 rounded-md hover:bg-[#434343] hover:text-white focus:border-slate-200 focus:ring-offset-white dark:border-slate-100/[0.06] dark:ring-offset-brand-black dark:bg-brand-light-black dark:hover:bg-[#434343] dark:focus:ring-brand-light-black transition-all ease-linear duration-75
    }
}
